/* ************************************************** !!
/* CSS CONTENTS ----------------------------------------
--------------------------------------------------------
--| General
--| Navbar
--| Search Form
--| [SECTION] Above the Fold 
--| [SECTION] Features
--| [SECTION][RESULTS PAGE] Result
--| [SECTION][RESULTS PAGE] Search Again
--| Footer
--------------------------------------------------------
----------------------------------------------------- */

/* ************************************************************
***************************************************************
--- General ---
***************************************************************
************************************************************ */

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 1rem; /* 18px */
}

h1 {
  font-size: 2.8889rem; /* 52px */
  font-weight: bold;
}

h2 {
  font-size: 1.3333rem; /* 24px */
  font-weight: normal;
}

h3,
h5 {
  font-size: 1.2222rem; /* 22px */
}

h4 {
  font-size: 1.7778rem; /* 32px */
}

h3,
h4,
h5 {
  font-weight: bold;
  color: #004a80;
}

section {
  padding: 2.2222rem 0 2.8889rem; /* 40px 52px */
}

.text-primary {
  color: #004a80 !important;
}

.text-secondary {
  color: #4a4a4a !important;
}

@media (max-width: 55.0556rem /* 991px */) {
  h1 {
    font-size: 2.6667rem; /* 48px */
  }
  h2,
  h3,
  h5 {
    font-size: 1.1111rem; /* 20px */
  }
}

@media (max-width: 42.6111rem /* 767px */) {
  h1 {
    font-size: 1.7778rem; /* 32px */
  }
  h2 {
    font-size: 0.8889rem; /* 16px */
  }
}

/* ************************************************************
***************************************************************
--- Navbar ---
***************************************************************
************************************************************ */

.navbar {
  background: #004a80;
}

.navbar {
  padding: 1.1111rem 0.8889rem; /* 20px 16px */
}

/* ************************************************************
***************************************************************
--- Search Form ---
***************************************************************
************************************************************ */
/*  */
.btn-search-type {
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  background-color: #004a80;
  color: #f6bc25;
  padding: 0.1111rem 0.6667rem; /* 2px 12px */
  border: none;
  border: 0.1667rem /* 3px */ solid #f6bc25;
  border-radius: 0.3333rem; /* 6px */
  outline: 0;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.btn-search-type-active {
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  background-color: #f6bc25;
  color: #004a80;
  padding: 0.1111rem 0.6667rem; /* 2px 12px */
  border: none;
  border: 0.1667rem /* 3px */ solid #f6bc25;
  border-radius: 0.3333rem; /* 6px */
  outline: 0;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.btn-search-type-active:before {
  content: "";
  position: absolute;
  height: 0rem; /* 0px */
  width: 0rem; /* 0px */
  top: 1.6rem; /* 31px */
  left: 3.8333rem; /* 69px */
  border-width: 0.3889rem; /* 7px */
  border-color: #f6bc25 transparent transparent transparent;
  border-style: solid;
}
/*  */

/*  */
.btn-form-submit {
  font-size: 1.3333rem; /* 24px */
  font-weight: bold;
  color: #004a80;
  background-image: -o-linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
  background-image: linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
  -webkit-box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff;
  box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff;
  border-radius: 0.3333rem; /* 6px */
  outline: 0;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  width: 10rem; /* 180px */
  margin-left: 1.1111rem; /* 20px */
}

.btn-form-submit:hover {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f2da56),
    to(#f2da56)
  );
  background-image: -o-linear-gradient(bottom, #f2da56 0%, #f2da56 100%);
  background-image: linear-gradient(0deg, #f2da56 0%, #f2da56 100%);
  -webkit-box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff;
  box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff;
}

.btn-form-submit:focus {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f6bc25),
    to(#f6bc25)
  );
  background-image: -o-linear-gradient(bottom, #f6bc25 0%, #f6bc25 100%);
  background-image: linear-gradient(0deg, #f6bc25 0%, #f6bc25 100%);
  -webkit-box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff;
  box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff;
}

.btn-form-submit:active {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f6bc25),
    to(#f6bc25)
  ) !important;
  background-image: -o-linear-gradient(
    bottom,
    #f6bc25 0%,
    #f6bc25 100%
  ) !important;
  background-image: linear-gradient(0deg, #f6bc25 0%, #f6bc25 100%) !important;
  -webkit-box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff !important;
  box-shadow: 0 0.1667rem 0 0 #a6953b,
    inset 0 0.0556rem 0 0 /* 3px 1px */ #ffffff !important;
}

/*  */
.input-group > .form-control {
  height: 3.8889rem; /* 70px */
  background: #fff;
  -webkit-box-shadow: inset 0 -0.0556rem 0.2222rem 0 /* -1px 4px */ rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -0.0556rem 0.2222rem 0 /* -1px 4px */ rgba(0, 0, 0, 0.2);
  border-radius: 0.1667rem /* 3px */ !important;
  font-size: 1.2222rem; /* 22px */
}

.input-group.error > .form-control {
  border: 0.1667rem /* 3px */ solid #dc0015;
  border-radius: 0.1667rem 0.1667rem 0 0 /* 3px 3px */ !important;
}

.error-msg {
  display: none;
}

.input-group.error .error-msg {
  display: block;
  position: absolute;
  bottom: -1.6667rem; /* -30px */
  margin: 0rem; /* 0px */
  padding: 0.2222rem 0.6667rem; /* 4px 12px */
  background: #dc0015;
  color: #fff;
  border-radius: 0 0 0.1667rem 0.1667rem; /* 3px 3px */
  font-size: 0.8889rem; /* 16px */
}

.form-control::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1111rem; /* 2px */
}

.form-control::-moz-placeholder {
  color: #9b9b9b;
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1111rem; /* 2px */
}

.form-control:-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1111rem; /* 2px */
}

.form-control::-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1111rem; /* 2px */
}

.form-control::placeholder {
  color: #9b9b9b;
  font-size: 0.8889rem; /* 16px */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1111rem; /* 2px */
}

.form-subtext {
  font-size: 0.8889rem; /* 16px */
  color: #fff;
  margin: 0 0 0 0.8333rem; /* 15px */
  line-height: normal;
}

@media (max-width: 42.6111rem /* 767px */) {
  .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .input-group > .form-control,
  .btn-form-submit {
    width: 100%;
  }
  .input-group > .form-control {
    height: 2.7778rem; /* 50px */
  }
  .btn-form-submit {
    margin: 0.6667rem 0 0 0; /* 12px */
  }

  .input-group.error .error-msg {
    position: static;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION] Above the Fold ---
***************************************************************
************************************************************ */

.above-the-fold {
  background: #004a80;
  padding-top: 1.3333rem; /* 24px */
}

.above-the-fold .headline {
  max-width: 43.3333rem; /* 780px */
  margin: 0 auto;
}

/* ************************************************************
***************************************************************
--- [SECTION] Features ---
***************************************************************
************************************************************ */

.features {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e6e6),
    to(#ffffff)
  );
  background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #ffffff 100%);
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
}

.features .headline {
  margin-bottom: 2.2222rem; /* 40px */
}

.features h2 {
  line-height: 1.6667rem; /* 30px */
}

.list-item {
  margin-bottom: 1.5556rem; /* 28px */
}

.list-circle {
  border-radius: 50%;
  width: 5rem; /* 90px */
  height: 5rem; /* 90px */
  line-height: 5rem; /* 90px */
  background: #004a80;
  text-align: center;
  font-size: 2.6667rem; /* 48px */
  font-weight: bold;
  color: #f6bc25;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5rem; /* 90px */
  flex: 0 0 5rem; /* 90px */
  margin-right: 1.1111rem; /* 20px */
}

.list-text p {
  margin: 0;
  line-height: 1.4444rem; /* 26px */
}

@media (max-width: 55.0556rem /* 991px */) {
  .features .headline {
    margin-bottom: 1.5556rem; /* 28px */
  }
  .features h2 {
    line-height: 1.5556rem; /* 28px */
  }
  .list-item {
    margin-bottom: 1.1111rem; /* 20px */
  }
  .list-circle {
    width: 3.5rem; /* 63px */
    height: 3.5rem; /* 63px */
    line-height: 3.5rem; /* 63px */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.5rem; /* 63px */
    flex: 0 0 3.5rem; /* 63px */
    font-size: 1.8667rem; /* 33.6px */
  }
  .list-text p {
    line-height: 1.3333rem; /* 24px */
  }
}

@media (max-width: 42.6111rem /* 767px */) {
  .features .headline {
    margin-bottom: 1.1111rem; /* 20px */
  }
  .list-item {
    margin-bottom: 0.8889rem; /* 16px */
  }
  .list-circle {
    width: 2.8rem; /* 50.4px */
    height: 2.8rem; /* 50.4px */
    line-height: 2.8rem; /* 50.4px */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 2.8rem; /* 50.4px */
    flex: 0 0 2.8rem; /* 50.4px */
    font-size: 1.4933rem; /* 26.88px */
    margin-right: 0.5889rem; /* 10.6px */
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Result ---
***************************************************************
************************************************************ */

.result,
.loadingData {
  background: #f8f8f8;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.result-wrap {
  display: none;
}

.result-card {
  max-width: 54.4444rem; /* 980px */
  background: #fff;
  -webkit-box-shadow: 0 0.1111rem 0.2222rem 0 /* 2px 4px */ rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1111rem 0.2222rem 0 /* 2px 4px */ rgba(0, 0, 0, 0.5);
  border-radius: 1.6667rem; /* 30px */
  padding: 2.2222rem; /* 40px */
  margin: 2.2222rem /* 40px */ auto;
}

.result-avatar {
  border-radius: 50%;
  width: 5rem; /* 90px */
  height: 5rem; /* 90px */
  line-height: 4.7778rem; /* 86px */
  background: #004a80;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5rem; /* 90px */
  flex: 0 0 5rem; /* 90px */
  margin-right: 1.1111rem; /* 20px */
}

.result-desc {
  color: #4a4a4a;
}

.result-loading-title {
  color: #004a80;
}

@media (max-width: 55.0556rem /* 991px */) {
  .result {
    min-height: 28.4444rem; /* 512px */
  }
  .result-avatar {
    width: 3.5rem; /* 63px */
    height: 3.5rem; /* 63px */
    line-height: 3.2222rem; /* 58px */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.5rem; /* 63px */
    flex: 0 0 3.5rem; /* 63px */
  }
  .result-avatar img {
    width: 1.5556rem; /* 28px */
  }
}

@media (max-width: 42.6111rem /* 767px */) {
  .result {
    min-height: 17rem; /* 306px */
  }
  .result-avatar {
    display: none;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Search Again ---
***************************************************************
************************************************************ */

.search-again {
  background: #004a80;
}

@media (min-width: 55.1111rem /* 992px */) {
  .search-again {
    padding: 4.4444rem 0; /* 80px */
  }
}

@media (max-width: 42.6111rem /* 767px */) {
  .search-again {
    padding: 2.2222rem 0; /* 40px */
  }
}

/* ************************************************************
***************************************************************
--- Footer ---
***************************************************************
************************************************************ */

.footer {
  padding: 0.8889rem 0; /* 16px */
}

.footer p {
  font-size: 0.8333rem; /* 15px */
  color: #999;
  line-height: 1.1111rem; /* 20px */
}

.footer a {
  font-size: 0.7778rem; /* 14px */
  font-weight: bold;
  color: #004a80;
}

.footer a:first-of-type:after {
  content: "|";
  padding-left: 0.2778rem; /* 5px */
}
